* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #515bcd;
}
.logo {
  font-size: 20px;
}
.head {
  font-size: 20px;
}
header {
  background-color: rgb(69, 87, 174);
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 20px;
  height: 50px;
  color: #ffffff;
  font-size: 10px;
  gap: 20px;
}
.btn {
  background: rgb(69, 87, 174);
  color: rgb(255, 255, 255);
  width: 80px;
  height: 40px;
  border: none;
  font-size: 15px;
}
.btn:hover {
  background: rgb(105, 126, 236);
  height: 50px;
  cursor: pointer;
}
.btn1 {
  background: rgb(111, 130, 226);
  color: rgb(255, 255, 255);
  width: 65px;
  height: 30px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}
.btn1:hover {
  background: rgb(10, 24, 91);
  height: 30px;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid rgb(0, 42, 255);
  background-color: rgb(49, 68, 173);
}
.control {
  display: flex;
}
h2 {
  color: #ffffff;
  width: 300px;
  font-size: 15px;
  padding-left: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  /* border: 1px solid #cd519d; */
  background-color: rgb(69, 87, 174);
}
.nav-bar {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 300px;
  font-size: 15px;
  padding-left: 20px;
  gap: 20px;
}
.nav-bar h3:hover {
  background: rgb(5, 31, 163);
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 40px;
  height: 40px;
}
.icon1:hover {
  background: rgb(85, 110, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon2:hover {
  background: rgb(94, 120, 249);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
  overflow-x: auto;
  padding: 20px;
  margin-top: -550px;
}

main .main {
  background: #ffffff;
  border: 2px solid rgb(240, 247, 245);
  min-height: max-content;
  min-width: max-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  color: black;
  
}

.main > h3 {
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.main > p {
  padding: 8px;
  background-color: antiquewhite;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
}
.task1 {
  background: #f3e1e1;
  width: 180px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.task1:hover {
  background: #c8bbbb;
  color: black;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 280px;
  background: rgb(123, 145, 255);
  border-radius: 5px;
  width: 190px;
  color: #ffffff;
}

.Main-div {
  color: #ffffff;
  padding: 10px;
  width: 160px;
  background: rgb(123, 145, 255);
  height: 30px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
}
.Main-div:hover {
  background: rgb(77, 99, 212);
}
.form:hover {
  background: rgb(70, 90, 188);
}
.input {
  background: rgb(123, 145, 255);
  border: none;
  color: #ffffff;
  width: 150px;
  height: 20px;
}
input:hover {
  background: rgb(123, 145, 255);
  color: white;
}
.notify {
  font-size: 18px;
  width: 35px;
}
.info {
  width: 35px;
  font-size: 20px;
}
.ac {
  font-size: 20px;
}

button {
  background: #dddadc;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  font-weight: bolder;
}
button:hover {
  background: #ffffff;
  cursor: pointer;
}
.notify2 {
  display: flex;
  justify-content: end;
  margin-left: 400px;
}
.Menuebar {
  background: rgb(61, 78, 161);
  width: 300px;
  height: 100vh;
}
.foter {
  margin-top: 360px;
  margin-left: 470px;
}
.fotter {
  background: rgb(94, 120, 249);
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 20px;
  width: max-content;
}
